@model Evento

@{
    ViewData["Title"] = "Modifica Evento";
}

<h1>@ViewData["Title"]</h1>
<div asp-validation-summary="ModelOnly" class="error-text"></div>
<form action="/Admin/ModificaEvento" method="post">
    <div class="form-group mb-3">
        <label asp-for="ID">ID Evento</label>
        <input asp-for="ID" value="@Model.ID" class="form-control" readonly />
    </div>
    <div class="form-group mb-3">
        <label asp-for="Titolo">Titolo</label>
        <input asp-for="Titolo" value="@Model.Titolo" class="form-control" />
        <span asp-validation-for="Titolo" class="text-danger"></span>
    </div>

    <div class="form-group mb-3">
        <label asp-for="DataOra">Data e ora</label>
        <input asp-for="DataOra" value="@Model.DataOra" class="form-control" type="datetime-local" asp-format="{0:yyyy-MM-ddTHH:mm}" />
        <span asp-validation-for="DataOra" class="text-danger"></span>
    </div>

    <div class="form-group mb-3">
        <label asp-for="Luogo">Luogo</label>
        <input asp-for="Luogo" value="@Model.Luogo" class="form-control" />
        <span asp-validation-for="Luogo" class="text-danger"></span>
    </div>

    <div class="form-group mb-3">
        <label asp-for="MaxUtenti">Numero massimo di partecipanti</label>
        <input asp-for="MaxUtenti" value="@Model.MaxUtenti" class="form-control" type="number" min="0" />
        <span asp-validation-for="MaxUtenti" class="text-danger"></span>
    </div>

    <div class="text-center">
        <button type="submit" class="btn btn-primary">Salva Modifiche</button>
    </div>
</form>

