@{
    ViewData["Title"] = "Dettaglio Evento";
    @model Evento
}

<h1>@ViewData["Title"]</h1>

<div>
    <h3>@Model.Titolo</h3>
    <p>Luogo: @Model.Luogo</p>
    <p>Data e ora: @Model.DataOra</p>

    <!-- Bottone per l'iscrizione -->
    <form action="/Home/Iscriviti" method="post">
        <input type="hidden" name="eventoId" value="@Model.ID" />
        <button type="submit">Iscriviti</button>
    </form>
</div>


