@{
    ViewData["Title"] = "Dettaglio Evento";
    @model Evento
}

<h1>@ViewData["Title"]</h1>

<div>
    <h3 class="m-0 font-weight-bold text-warning">@Model.Titolo</h3>
    <hr class="sidebar-divider d-none d-md-block">
    <h5 class="m-0 font-weight-bold text-primary">Data/Ora: @Model.DataOra</h5>
    <h5 class="m-0 font-weight-bold text-primary">Luogo: @Model.Luogo</h5>
    <h5 class="m-0 font-weight-bold text-primary">Codice evento: @Model.ID</h5>
    <h5 class="m-0 font-weight-bold text-primary">Numero massimo partecipanti: @Model.MaxUtenti</h5>
    <h5>     </h5>


    <!-- Bottone per l'iscrizione -->
    <form action="/Home/Iscriviti" method="post">
        <input type="hidden" name="eventoId" value="@Model.ID" />
        <button class="btn btn-primary" type="submit">Iscriviti</button>
    </form>
</div>


