@{
    ViewData["Title"] = "Elenco Eventi";
}
<h1>@ViewData["Title"]</h1>

<div class=" textcenter">
    @foreach (Evento a in Model)
    {
          <div class="card mb-4 py-3 border-left-primary">

              <a href="/Home/DettaglioEvento/@a.ID" class="btn btn-info btn-icon-split" width="20">
                  <span width="20" class="icon text-white-50">
                      <i width="20" class="fas fa-info-circle"></i>
                  </span>
                  <span class="text">@a.ID</span>
              </a>

              <a href="/Home/DettaglioEvento/@a.ID"> </a>
              &nbsp;
              <a asp-controller="Home" asp-action="DettaglioEvento" asp-route-id="@a.ID"> @a.ID </a> -  , @a.Luogo, @a.DataOra <br />
              <h3>@a.Titolo</h3>



          </div>
        
    }
</div>


